<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=360">
<title>節約セラピー診断 > %explain_cut%</title>
<link href="./check.css" rel="stylesheet" type="text/css">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29191581-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div class="header">
<a href="./"><img src="./images/logo_small.png" alt="節約セラピー診断" border="0" /></a>
</div>
<div class="di-answer-explain di-explain">
%explain%
</div>
%image%
<div class="di-share-top di-share-answer">

この結果をツイートする
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://irimo.cc/money/check/" data-text="%explain_cut%" data-via="irimo4649" data-lang="ja" data-size="large" data-hashtags="節約セラピー診断">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
<br />
<a href="./" class="di-home">はじめに戻る</a>
<br />
<div class="di-blog">
ブログ『<a href="http://irimo.cc/money/">節約セラピー</a>』もよろしく！
</div>

<br />
<br />
<script type="text/javascript"><!--
google_ad_client = "ca-pub-1124949287563503";
/* セラピー336x280 */
google_ad_slot = "3062708983";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</body>
</html>