<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=360">
<title>節約セラピー診断 > %explain%</title>
<link href="check.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
<a href="./"><img src="./images/logo_small.png" alt="節約セラピー診断" border="0" /></a>
</div>
<div class="di-explain">
%explain%
</div>
<a href="%yes%" class="di-yes-btn">はい</a>
- -<a href="%no%" class="di-no-btn">いいえ</a>
<br />
<br />
</body>
</html>
